*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-page{
   @media screen {
    
   }
}

.navbar-custom{
    position: fixed;
    top: -80px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 1000;
    transition: top 0.3s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.navbar-custom.navbar-show {
    top: 0;
  }
.filter-drop{
    padding: 5px;
    cursor: pointer;
    margin: 0;
   
    background-color: white;
    border: 1px solid  grey;
    

    
}
.filter-drop:hover{
    background-color: rgb(231, 230, 230);
}
.reset-filter-style{
    color: white;
    cursor: pointer;
}
.reset-filter-style:hover{
    color: #ddd;
}

 .viewProfile-Hover{
    position: relative;
 }
.hover-box{
display: none;

}
.viewProfile-Hover:hover .hover-box{
    position: absolute;
    left: 20px;
    display: block;
    top: 180px;
}
.filter-down{
    padding: 0;
    background-color: white;
    
}
.delete-location-icon{
cursor: pointer;
display: none;
}
.location-icon:hover .delete-location-icon{
display: block;
}
.location-search-container{

    width: 100%;
    z-index: 10000;
}
.drname{
    text-decoration: none;
}
.drname:hover{
    text-decoration: underline;
}
.address-name{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.address-name:hover{
    color: black;
    text-decoration: underline;
}
.breadcrumb-profile{
    margin-top: 100px;
    margin-left: 50px;
}
.breadcrumb-wrapper{
    color: gray;
    text-decoration: none;
}
.breadcrumb-wrapper:hover{
    text-decoration: underline;
}
.img-container{
    position: relative;

}
.base-image{
    display: block;
}
.top-image{
    position: absolute;
    top: 80px;
    z-index: 10;
    left: 5px;
}