.location-box {
    width: 30%;
  }
  
  .doctor-search-box {
    width: 70%;
  }
  
  .location-icon {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .location-icon span {
    flex: 1;
    min-width: 0;
  }
  
  .search-input {
    width: 100%;
    min-width: 0;
  }
  @media screen and (min-width:700px){
    .doctors-conrainer{
    width: 100%;
    flex-wrap: nowrap;
    }
  }

  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 30px ;
    background:white ;
    z-index: 1050;
  }
  
  .navbar-items{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-right: 150px;
  }
  .menu-button{
    display: none;
    border: none;
    background: none;
    font-size: 28px;
    cursor: pointer;
    left: 10px;
    position: relative;
    z-index: 1050;

  }
 
  @media screen and (max-width:900px){
    .menu-button{
      display: block;
      
    }
    .navbar{
      position: relative;

    }
    .navbar-items{
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 15px;
      background: white;
      flex-direction: column;
      align-items: flex-start;
      z-index: 1000;
    }
  
    .navbar-items.show-menu {
      display: flex;
    
    }
    .navbar-logo{
      position: absolute;
      margin-left: 0px;
    }
  
  }

  .navbar-account{

  }
  

  @media screen and (max-width:200px) {
    .findHome-align{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-left: 500px;
    }
    .heading-texts{
      display: flex;
      font-size: 500px;
    }
    .background-images{
      width: 500px;
      height: 200px;
    }
  }
.navbar-logo{
  margin-left: 150px;
}

.navbar-dropdown{
  text-decoration: none;
}
  

  