.viewProfile-page{
    background-color:#F0F0F5 ;
    margin-top: 60px;
   display: grid;
   grid-template-columns: 2fr 2fr;
}
.Doctor-profile-card{
    display: flex;
    background-color: white;
    width: 680px;
    height: 250px;
    margin-top: 00px;
    margin-left: 120px;
}
.navBars-search{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;

}
.drinfo-drop-downs{
    display: flex;
    width: 700px;
    gap: 50px;
    margin-top: 10px;
    margin-left: 120px; 
    
}
.drinfo-drop-downs-childs{
    background-color: white;
    padding: 3px;
}
.schedule-appointment{
  margin-top: 150px;
  width: 200px;
  height: 500;
  margin-bottom: 500px;
 
}
.profile{
    height: 150px;
    border-radius: 50%;
}
.profile-image{
    height: 150px;
    border-radius: 50%;
}
