.viewProfile-page{
    background-color:#F0F0F5 ;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.Doctor-profile-card{
    background-color: white;
    width: 650px;
    height: 200px;
    margin-top: 200px;
    margin-left: 120px;
}
.navBars-search{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;

}
.drinfo-drop-downs{
    display: flex;
    width: 700px;
    gap: 50px;
    margin-top: 10px;
    margin-left: 120px; 
    
}
.drinfo-drop-downs-childs{
    background-color: white;
    padding: 3px;
}
.schedule-appointment{
  margin-top: 150px;
}